* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f4f9f5;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.a {
    text-decoration: none;
}

.h1{
    color: #1e4e3c;
    font-size: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: 2px solid #1e4e3c;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1e4e3c;
    color: white;
    padding: 6px 14px;
}

.window-section {
  padding: 40px 20px;
}

.window {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  overflow: hidden;
}

.window-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  background: #eaeaea;
}

.window-title {
  margin-left: 10px;
  font-weight: bold;
  color: #1e4e3c;
}

.window-body {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.inner-box {
  flex: 1;
  background: #f5f5f5;
  padding: 16px;
  border-radius: 10px;
}

.inner-box button {
  margin-top: 10px;
}

.window-body {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.4s ease, padding 0.3 ease;
}

.window-section.open .window-body {
    max-height: 2000px;
    padding: 20px;
}

.page-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
