* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f4f9f5;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.info-section{
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.main-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    margin-top: 20px;
    color: #1e4e3c;
}

.description, .bottom-description {
    text-align: start;
    max-width: 600px;
    margin: 10px auto;
}

.boxes {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.box {
    flex: 1;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.box h3 {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.box p {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
}

.window {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;
}